#Node.js
/.idea/*

#Node.js
/node_modules/*

#site AngularJS
/site/web/.htaccess
/site/web/robots.txt
/site/web/sitemap.xml
/site/web/images/logo.png
/site/web/bundles/*
/site/web/bower_components/*
/site/web/npm-debug.log
!/site/web/media/product/.htaccess
/site/web/photo/*
/site/web/css/*
/site/web/build/*

#administrator AngularJS
/administrator/web/.htaccess
/administrator/web/bower_components/*
/administrator/web/npm-debug.log
/administrator/web/build/*

#Symfony API
/web/.htaccess
/web/media/product/*
!/web/web/media/product/.htaccess
/web/css/*
/web/bundles/*
/app/bootstrap.php.cache
/app/cache/*
/app/var/*
/app/config/parameters.yml
/app/logs/*
!/app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
Capfile
dist
.tmp
.sass-cache

/site/web/bower_components
